body {
    background-color:#FEE440;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
  }

h2 {
    text-align: center;
  }

h3 {
    text-align: right;
}

.contain {
    margin: 1em;
    margin-bottom: 0.5em;
    padding: 1em;
    padding-top: 0em;
    border-radius: 1em;
    box-align: center;
    position: relative;
}

.cart {
    background-color:#00F5D4;
    flex: 1;
    padding-top: 0.1em;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    
}

.item {
    text-align: center;
}

.checkOut, .payBtn {
    display: block;
    margin: auto;
    border-radius: 1em;
    border: none;
    padding: 10px 15px;
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pBtn, .mBtn {
    display: block;
    margin: auto;
    border-radius: 2em;
    /* border: none; */
    padding: 5px 10px;
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pAmt {
    font-size: 12pt;
    font-weight: bold;
}

.payAmt {
    border: none;
    margin-left: 3px;
    padding: 5px;
    background-color: darkgray;
    font-size: 12pt;
    font-weight: bold;
}

.small_pizza {
    background-color:#9B5DE5;
    flex: 1;
}

.small_pizza:hover {
    box-shadow: 10px 10px #F15BB5;
}

.medium_pizza {
    background-color:#F15BB5;
    flex: 1;
}

.medium_pizza:hover {
    box-shadow: 10px 10px #00BBF9;
}

.large_pizza {
    background-color:#00BBF9;
    flex: 1;
}

.large_pizza:hover {
    box-shadow: 10px 10px #9B5DE5;
}

.contact_us {
    background-color: #00F5D4;
    padding-top: 0.1em;
    height: 8.5em;
}

.pizza_img {
    text-align: center;
}

.pizza_top{
    position:absolute;
    bottom: 0;
    padding-bottom: 0.5em;
}

#contact {
    margin:0; 
    padding: 0em;
    display:inline; 
    float:left
}

#location {
    margin:0; 
    padding: 0em;
    display:inline; 
    float:right;
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: 1.5em;
    text-align: center;
}

@media (min-width: 960px) {
    .pizzas {
        display: flex;
    }    
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #00BBF9;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #9B5DE5;   
    border-radius: 25px;   
  }

.hidden {
    display: none;
}