body {
    background-color:#FEE440;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
  }

h2 {
    text-align: center;
  }

h3 {
    text-align: right;
}

.contain {
    margin: 1em;
    margin-bottom: 0.5em;
    padding: 1em;
    padding-top: 0em;
    border-radius: 1em;
    box-align: center;
    position: relative;
}

.small_pizza {
    background-color:#9B5DE5;
    flex: 1;
}

.medium_pizza {
    background-color:#F15BB5;
    flex: 1;
}

.large_pizza {
    background-color:#00BBF9;
    flex: 1;
}

.contact_us {
    background-color: #00F5D4;
    padding-top: 0.1em;
    height: 8.5em;
}

.pizza_img {
    text-align: center;
}

.pizza_top{
    position:absolute;
    bottom: 0;
    padding-bottom: 0.5em;
}

#contact {
    margin:0; 
    padding: 0em;
    display:inline; 
    float:left
}

#location {
    margin:0; 
    padding: 0em;
    display:inline; 
    float:right;
}

lottie-player {
    margin: 0 auto;
    margin-top: 1.5em;
    max-width: 100%;
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: 1.5em;
    text-align: center;
}

@media (min-width: 960px) {
    .pizzas {
        display: flex;
    }    
}